<div class="wrapper">
    <div class="wrapped-div">
        <div class="tab-header">
            <h2 style="color: #fff;">Post New Tweet</h2>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <form [formGroup]="tweetService.formModel" autocomplete="off" (submit)="onSubmit()">
                    <div class="form-group required">
                        <label>Message (Maximum 144 Characters)</label>
                        <input class="form-control" formControlName="Message">
                        <label class="text-danger" *ngIf="tweetService.formModel.get('Message')?.touched && tweetService.formModel.get('Message')?.errors?.['required']">Please enter message.</label>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8 offset-md-2">
                            <br>
                          <button type="submit" class="btn btn-lg btn-block" [disabled]="!tweetService.formModel.valid">Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
