<div class="wrapper">
    <div class="wrapped-div">
        <div class="tab-header">
            <h2 routerLink='/user/reset-password' routerLinkActive='active'>Reset Password</h2>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
              <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
                <div class="form-group">
                    <label>Old Password</label>
                    <input type="password" class="form-control" #OldPassword="ngModel" name="OldPassword" [(ngModel)]="formModel.OldPassword" required>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" #NewPassword="ngModel" name="NewPassword" [(ngModel)]="formModel.NewPassword" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8 offset-md-2">
                      <button type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid">Reset Password</button>
                    </div>
                  </div>
            </form>
            </div>
        </div>
    </div>
  </div>