<nav class="navbar ">
  <a class="navbar-brand text-white">Tweet Application</a>
  <button class="btn" routerLink="/home">Home</button>
  <!-- <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button> -->
</nav>
<div class="container">
<!-- <button routerLink="/user/registration" class="m-1 btn btn-light btn-outline-primary">Register</button>
<button>Login</button>
<button routerLink="tweet" class="m-1 btn btn-light btn-outline-primary">Tweets</button> -->
<router-outlet></router-outlet>
</div>