<!-- 
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name With Handle</th>
            <th>Message</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tweet of tweets">
            <td>{{tweet.username}}</td>
            <td>{{tweet.tweetMessage}}</td>
            <td>{{tweet.dateAndTimeofTweet  | date: 'shortDate'}}</td>
        </tr>
    </tbody>

</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.emailId}}</td>
        </tr>
    </tbody>

</table> -->
<router-outlet></router-outlet>