<div class="wrapper">
  <div class="wrapped-div">
      <div class="tab-header">
          <h2 routerLink='/user/login' routerLinkActive='active'>Login</h2>
          <h2 routerLink='/user/registration' routerLinkActive='active'>Register</h2>
      </div>
      <div class="row">
          <div class="col-md-10 offset-md-1">
            <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
              <div class="form-group">
                  <label>Username</label>
                  <input class="form-control" #Username="ngModel" name="Username" [(ngModel)]="formModel.Username" required>
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-8 offset-md-2 loginBTN">
                    <button type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid">Login</button>
                  </div>
                </div>
          </form>
          </div>
      </div>
  </div>
</div>